---
layout: page
description: "Marta Mazurkiewicz"
---
<div class="about">
    <div class="profile">
        <img src="{{ site.baseurl }}/assets/images/marta-profile-pic.jpg" class="about-image"/>
      </div>
  <h2>Hello! &#128075;</h2>
  {% if site.your_name %}
  <div class="about-title">
    {{ site.your_name }}
  </div>
  {% endif %}
  <div class="about-desc">
    <p>I'm Marta and I apply psychology to UX. Need a coaching session? <a href="/coaching.html">Let's talk!</a></p>
    <p>I have a master's degree in Psychology, I finished Human Resource Management postgraduate studies and I'm a certified coach. I learned design principles and UX in practice working as a UX designer and researcher. It became my passion.</p>
    <p>Here, I write about my experience and my perspective on the above issues - UX, design, and coaching. I hope you'll enjoy it. If you need support in achieving your goals, here you can also schedule the coaching session.</p>
    <p>In my spare time, I do yoga, read books and sometimes draw or create analog collages. I love being in nature but ask me to visit a museum or gallery and I'm yours! Traveling is my second name.</p>
  </div>
</div>  
<div>
  <hr>
  <h3 class="latest-post">Latest notes</h3>
</div>
{% for post in paginator.posts %}
        <div class="post-preview">
            <header class="post-header">
              <div class="post-title">
                 <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
              </div>
              <div class="post-subtitle">
              {{ post.date | date: "%B %-d, %Y" }}
              </div>
            </header>

            {% if post.feature %}
              <a href="{{ post.url | prepend: site.baseurl }}">
                <img src="{{ site.baseurl }}/assets/images/{{ post.feature }}" class="u-full-width"/>
              </a>
            {% endif %}
                
            {% if post.subtitle %}
            <article class="pre-article">  
              {{ post.subtitle | markdownify }}
            </article>
            {% endif %}

            <div class="post-excerpt">
              <a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &rarr;</a>
            </div>
        </div>
{% endfor %}    
        <hr>
        {% if paginator.total_pages > 1 %}
        <div class="pager">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-left">&larr; Newer </a>
          {% endif %}
    {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-right">Older &rarr;</a>
           {% endif %}
        </div>
        {% endif %}
