<!--FOOTER -->
<footer>
  <div class="container">
    <div class="row about-category">
      <div class="twelve columns">
          <div class="about-social">
            <ul>
            {% if site.email_username %}
              <li><a href="mailto:{{ site.email_username }}"><i class="fas fa-envelope fa-2x"></i></a></li>
            {% endif %}
            {% if site.linkedin_username %}
            <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin fa-2x"></i></a></li>
            {% endif %}
            {% if site.facebook_username %}
              <li><a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a></li>
            {% endif %}
            {% if site.twitter_username %}
              <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
            {% endif %}
            {% if site.behance_username %}
              <li><a href="https://behance.net/{{ site.behance_username }}"><i class="fab fa-behance-square fa-2x"></i></a></li>
            {% endif %}
            {% if site.medium_username %}
              <li><a href="https://{{ site.medium_username }}.medium.com/"><i class="fab fa-medium fa-2x"></i></a></li>
            {% endif %}
            {% if site.github_username %}
              <li><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github-square fa-2x"></i></a></li>
            {% endif %}
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fas fa-rss-square fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="twelve columns">
        <div class="copyright">
          &copy; {{ site.time | date: '%Y' }} {{ site.copyright_name }}
        </div>
      </div>
    </div>
  </div>
</footer>
<!--END FOOTER -->