<!--FOOTER -->
<footer>
  <div class="container">
    <div class="row about-category">
      <div class="twelve columns">
        <div class="about">
          <h3>About</h3>
          <div class="profile ">
            <img src="{{ site.baseurl }}/assets/images/marta-profile-pic.jpg" class="u-full-width "/>
          </div>
          <div class="about-title">
            {{ site.your_name }}
          </div>
          <div class="about-desc">
            <p>I'm Marta and I apply psychology to UX. Need a coaching session? Let's talk!</p>
            <p>I have a master's degree in Psychology, I finished Human Resource Management postgraduate studies and I'm a certified coach. I learned design principles and UX in practice working as a UX designer and researcher. It became my passion.</p>
            <p>Here, I write about my experience and my perspective on the above issues - UX, design, and coaching. I hope you'll enjoy it. If you need support in achieving your goals, here you can also schedule the coaching session.</p>
            <p>In my spare time, I do yoga, read books and sometimes draw or create analog collages. I love being in nature but ask me to visit a museum or gallery and I'm yours! Traveling is my second name.</p>
          </div>
           
          <div class="about-social">
            <ul>
            {% if site.email_username %}
              <li><a href="mailto:{{ site.email_username }}">Email</a></li>
            {% endif %}
            {% if site.linkedin_username %}
            <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
            {% endif %}
            {% if site.facebook_username %}
              <li><a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a></li>
            {% endif %}
            {% if site.twitter_username %}
              <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
            {% endif %}
            {% if site.behance_username %}
              <li><a href="https://behance.net/{{ site.behance_username }}">Behance</a></li>
            {% endif %}
            {% if site.medium_username %}
              <li><a href="https://{{ site.medium_username }}.medium.com/">Medium</a></li>
            {% endif %}
            {% if site.github_username %}
              <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
            {% endif %}
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Live Feed</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="twelve columns">
        <div class="copyright">
          &copy; {{ site.time | date: '%Y' }} {{ site.copyright_name }}
        </div>
      </div>
    </div>
  </div>
</footer>
<!--END FOOTER -->