@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
body{
  font-family: 'Lora', serif;
  word-wrap: break-word;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
    font-weight: bolder;
}

h1:hover {
    color: #222222;
}

a{
    text-decoration: none;
    color:#222222;
}

a:hover {
  color: #607BD1;
}

.navbar{
    display: none;
}

.navbar-list{
    text-align: center;
}

.site-branding{
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}

.quote {
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}

blockquote {
    margin: 0;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

figcaption {
    text-align: center;
    font-size: 1em;
}

.error {
    text-align: center;
}

hr {
    margin-top: 0em;
}

/* POST PREVIEW*/
.post-header{
    text-align: left;
    padding: 1em;
}
.post-title{
    font-size: 1rem;
    font-weight: 700;
}
.pre-article{
    text-align: justify;
    padding: 1rem;
}
.pre-article > p:last-child {
  margin-bottom: 0;
}

.post-article{
    text-align: justify;
    padding: 1rem;
}
.post-excerpt{
    padding:1rem;
}
.post-excerpt a{
    text-decoration: underline;
    font-size: 1em;
}
.pager{
    padding:3rem 1rem 2rem 1rem;
}
/*About*/
.about-category{
    padding:3rem 1rem 1rem 1rem;

}
.about{
  text-align: left;   
}

.about > h3 {
  text-align: center;
}

.about > ul {
  text-align: center;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.about-image{
    display: block;
    max-width: 80%;
    width: 15em;
    margin: 0 auto 2em;
}

.about-social{
    margin-top:2rem;
}
.about-social ul{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}
.about-social ul li{
    text-align: center;
    padding: 1em;
}
.copyright{
    text-align: center;
    padding:0rem 2rem 3rem 2rem;
    color:#bfbfbf;

}
/*COACHING PAGE*/
.coaching{
  padding:1rem;
}
.coaching-title{
    text-align: center;
}
/* Larger than phone */
@media (min-width: 550px) {
.post-title{
    font-size: 3rem;
    font-weight: 700;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
  .container {
    max-width: 560px;
  }
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }

  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  
    .navbar-spacer {
    display: none; }
  
    .navbar > .container {
    width: 100%; }
  
    .navbar-list {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: center; }
  
    .navbar-item {
    position: relative;
    margin-bottom: 0; }
  
    .navbar-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin: 0 1rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  
    .navbar-link.active {
    color: #33C3F0; }

}
