---
---

@import "{{ site.theme }}";

body {
  color: #808080;
}

h1 a {
    color: #121000;
}

.post h1 a {
    background: #FFE500;
    color: #121000;
    font-size: 1.625rem;
    padding: 0 0.25rem;
}

.post a {
    color: #006EFF;  
    cursor: pointer;
}

.p a {
    color: #006EFF;  
    cursor: pointer;
}

.post {
    margin-bottom: 32px;
} 

.a:hover { 
    color: #005FDB; 
}

.a:visited {
  color: #0057C8;
}
