---
---

@import "{{ site.theme }}";

body {
  color: #7A869A;
}

h1 a {
    color: #121000;
}

h1 a:hover {
    color: #000000;
}

.post h1 a {
    background: #FFE500;
    color: #121000;
    font-size: 1.625rem;
    padding: 0 0.25rem;
}

.post a {
    color: #0058CC;  
    cursor: pointer;
}

p a {
    color: #0058CC;  
    cursor: pointer;
}


p a:hover { 
    color: #004CAF; 
}

.a:hover { 
    color: #004CAF; 
}

.post {
    margin-bottom: 32px;
} 
